.f-img-ini {
  position: absolute;
  top: 30px;
  left: 100px;
  width: 7.5%;
}

.user {
  position: absolute;
  top: 35px;
  left: 820px;
}

.cerrar {
  position: absolute;
  top: 25px;
  left: 1100px;
  width: 170px;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: white;
  background-color: black;
  font-weight: 400;
  border-color: black;
  border-style: solid;
  transition: all .3s;
}

.cerrar:hover {
  background-color: white;
  border-color: black;
  color: black;
  cursor: pointer;
  scale: 1.01;
}

.form {
  position: absolute;
  top: 80px;
  left: 1100px;
  width: 170px;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: white;
  background-color: black;
  font-weight: 400;
  border-color: black;
  border-style: solid;
  transition: all .3s;
}

.form:hover {
  background-color: white;
  border-color: black;
  color: black;
  cursor: pointer;
  scale: 1.01;
}