.d00 {
  position: relative;
  height: 100%;
}

.d0 {
  position: relative;
  height: 650px;
  width: 100%;
  background-color: white;
}

.d01 {
  position: relative;
  top: 130px;
  left: 100px;
  width: 450px;
  height: max-content;
}

h2 {
  font-size: 45px;
  font-weight: 600;
  line-height: 50px;
  color: #B03D47;
}

.d02 {
  position: relative;
  top: 165px;
  left: 100px;
  width: 480px;
  height: max-content;
}

.txt1 {
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.img1 {
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%;
  right: 0;
  z-index: 1;
  object-fit: cover;
}

.boton1 {
  position: relative;
  top: 200px;
  left: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #B03D47;
  border-color: white;
  border-style: solid;
  background-color: white;
  transition: all .3s;
}

.boton1:hover {
  scale: 1.02;
  cursor: pointer;
}

.arrow {
  position: relative;
  top: 204px;
  left: 110px;
  height: 3%;
}

.d1 {
  position: relative;
  height: 650px;
  width: 100%;
  background-color: #F9F9F9;
}

.img2 {
  position: absolute;
  top: 0px;
  width: 30%;
  height: 100%;
  left: 0;
  z-index: 1;
  object-fit: cover;
}

.d001 {
  position: relative;
  top: 190px;
  left: 470px;
  width: 720px;
  height: max-content;
}

.txt2 {
  font-size: 18px;
  font-weight: 400;
  color: #4B4B4B;
}

.heart {
  position: relative;
  top: -115px;
  left: 360px;
  width: 3%;
}

.firma {
  position: relative;
  top: -10px;
  left: 410px;
  width: 39%;
}

.d2 {
  position: relative;
  height: 650px;
  width: 100%;
  background-color: white;
}

.d-foot {
  position: absolute;
  bottom: 50px;
  align-items: center;
  padding: 0 0 0 0;
  height: 10%;
  width: 100%;
}

.f-img {
  position: absolute;
  bottom: 40px;
  left: 600px;
  width: 8%;
}

.f-text {
  position: absolute;
  left: 430px;
  bottom: 0;
  font-size: 13px;
  font-weight: 300;
  color: #636363;
}

.f-policies {
  position:absolute;
  left: 750px;
  bottom: 0;
  font-size: 13px;
  font-weight: 300;
  color: #B03D47;
  transition: all .3s;
}

.f-policies:hover {
  cursor: pointer;
  scale: 1.02;
  text-decoration: underline;
}










.h3 {
  position: static;
  font-size: 18px;
  font-weight: 700;
  color: black;
  transition: all .5s;
}

.h3:hover {
  scale: 1.01;
}

tr {
  transition: all .5s;
}

tr:hover {
  scale: 1.01;
}

.text-p {
  position: static;
  top: 30px;
  left: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #636363;
  transition: all .5s;
}

.text-p:hover {
  scale: 1.003;
}



.p0 {
  position: static;
  font-size: 12px;
  text-align: justify;
  top: -399px;
  left: 749px;
  height: max-content;
  width: 518px;
  color: #303030;
  padding: 20px 0 0 0;
}

.d4{
  position: static;
  padding-top: 10px;
  top: 50px;
  left: 150px;
  width: 950px;
  height: 69%;
  padding-bottom: 60px;
}

.bienvenido {
  position: static;
  top: 130px;
  left: 395px;
  width: max-content;
}

.rt {
  position: static;
  top: 165px;
  left: 750px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: white;
  background-color: #6C63FF;
  font-weight: 500;
  border-color: #6C63FF;
  border-style: solid;
  transition: all .3s;
}

.rt:hover {
  background-color: white;
  border-color: #6C63FF;
  color: #6C63FF;
  cursor: pointer;
  scale: 1.03;
}

.cerrar {
  position: static;
  top: 165px;
  left: 765px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: white;
  background-color: #cb2f2f;
  font-weight: 500;
  border-color: #cb2f2f;
  border-style: solid;
  transition: all .3s;
}

.cerrar:hover {
  background-color: white;
  border-color: #cb2f2f;
  color: #cb2f2f;
  cursor: pointer;
  scale: 1.03;
}

.div1 {
  position: static;
  top: 50px;
  left: 40px;
  width: max-content;
}

.div2 {
  position: static;
  top: -150px;
  left: 385px;
  width: max-content;
}

.div3 {
  position: static;
  top: -350px;
  left: 740px;
  width: max-content;
}

.div5 {
  position: static;
  top: 235px;
  height: 70px;
}

.div6 {
  position: static;
  top: 6270px;
  height: 70px;
}



.text-nos{
  position: static;
  left: 345px;
  width: max-content;
}

.text-inf{
  position: static;
  left: 370px;
  width: max-content;
}

.text-test {
  position: static;
  left: 420px;
  width: max-content;
}

.foot-1 {
  position: static;
  left: 525px;
  top: -110px;
  width: 17%;
}

.home {
  position: static;
  left: 20px;
  top: 330px;
  width: 17%;
}

.home:hover {
  cursor: pointer;
  color: #6C63FF;
}

.i-r {
  position: relative;
  left: 550px;
  top: 110px;
  width: max-content;
  font-weight: 500;
  text-align: center;
}

.i-r2 {
  position: relative;
  left: 545px;
  top: 110px;
  width: max-content;
  font-weight: 500;
  text-align: center;
}

.correo {
  position: relative;
  top: 150px;
  left: 422px;
  font-weight: 400;
  font-size: 15px;
}

.mail {
  position: relative;
  top: 190px;
  left: 370px;
  height: 35px;
  width: 350px;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  border-style: solid;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  padding: 0 0 0 10px;
  transition: all .3s;
}

.contraseña {
  position: relative;
  top: 200px;
  left: 422px;
  font-weight: 400;
  font-size: 15px;
}

.pass {
  position: relative;
  top: 240px;
  left: 335px;
  height: 35px;
  width: 350px;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  border-style: solid;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  padding: 0 0 0 10px;
}

.inicia {
  position: static;
  left: 425px;
  top: 280px;
  border-radius: 5px;
  width: 80%;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: white;
  background-color: #6C63FF;
  font-weight: 500;
  border-color: #6C63FF;
  border-style: solid;
  transition: all .3s;
}

.inicia:hover {
  background-color: #ffffff;
  border-color: #6C63FF;
  color: #6C63FF;
  cursor: pointer;
}

.extra-1 {
  position: static;
  top: 375px;
  left: 637px;
  width: max-content;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #6C63FF;
  background-color: white;
  border-color: white;
  border-style: solid;
  text-decoration: underline;
}

.extra-1:hover {
  color: #483dd3;
  cursor: pointer;
}

.extra-2 {
  position: relative;
  top: 375px;
  left: 655px;
  width: max-content;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #6C63FF;
  background-color: white;
  border-color: white;
  border-style: solid;
  text-decoration: underline;
}

.extra-2:hover {
  color: #483dd3;
  cursor: pointer;
}

.text-1 {
  position: relative;
  top: 400px;
  left: 330px;
  font-weight: 400;
  font-size: 13px;
  color: #636363;
}

.text-2 {
  position: relative;
  top: 400px;
  left: 335px;
  font-weight: 400;
  font-size: 13px;
  color: #636363;
}

.universidades{
  position: static;
  top: 95px;
  left: -30px;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
}

.uni {
  position: relative;
  top: 10px;
  left: -1px;
  color: #636363;
}

.usuario {
  position: relative;
  font-weight: 500;
  font-size: 17px;
  color: #636363;
  line-height: 40px;
}

.area {
  position: relative;
  top: 30px;
  font-weight: 500;
  font-size: 17px;
  color: #636363;
  line-height: 40px;
}

.extras {
  position: static;
  top: 90px;
  left: 595px;
  font-weight: 500;
  font-size: 17px;
  color: #636363;
  line-height: 40px;
}

.gp {
  position: relative;
  left: 150px;
  top: -240px;
  width: 350px;
  transition: all .5s;
}

.gp:hover {
  transform: scale(1.01);
}

.div31 {
  position: static;
  top: 100px;
  left: 680px;
  width: 500px;
}

.p22 {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #636363;
  text-align: left;
  transition: all .5s;
}

.p22:hover {
  scale: 1.005;
}

.p21 {
  font-size: 16px;
  font-weight: 400;
  color: #636363;
  text-align: center;
  line-height: 30px;
  transition: all .5s;
}

.p21:hover {
  scale: 1.005;
}

.div32 {
  position: static;
  top: -110px;
  left: 350px;
  width: 650px;
}
